---
import ProjectCard from "@components/ProjectCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

import { featuredProjects } from "@/site-config";
---

<BaseLayout
  title="Projects - The Null Hypothesis"
  description="A collection of my coding projects and open-source contributions"
>
  <section>
    <header>
      <h1>Projects</h1>
      <p>
        A collection of my coding projects and open-source contributions
      </p>
    </header>
    <div>
      {
        featuredProjects.map((project) => (
          <ProjectCard
            title={project.title}
            description={project.description}
            tags={project.tags}
            githubUrl={project.githubUrl}
            demoUrl={project.demoUrl}
          />
        ))
      }
    </div>
  </section>
</BaseLayout>

<style>




</style>
