---
export interface Props {
  title: string;
  description: string;
  tags: string[];
  githubUrl: string;
  demoUrl?: string | undefined;
}

const { title, description, tags, githubUrl, demoUrl } = Astro.props;
---

<article>
  <div>
    <h3>{title}</h3>
    <p>{description}</p>
    <div class="tags">
      {tags.map((tag) => <span>{tag}</span>)}
    </div>
  </div>

  <div>
    <a href={githubUrl} target="_blank" rel="noopener noreferrer">
      Code
    </a>
    {demoUrl && (
      <a href={demoUrl} target="_blank" rel="noopener noreferrer">
        Demo
      </a>
    )}
  </div>
</article>
